<!DOCTYPE html>
<html>
{% load static %}
<head>
 <title>{% block title %} {% endblock title %}</title>
 <meta name="keywords" content="Books, recent, Learning, library">
 <meta name="description" content="Books website">
 <meta name="author" content="author name">
 <link rel="icon" href="{% static 'qu-icon.png' %}">
 <meta charset="UTF-8">
 <link rel="stylesheet" href="{% static 'styles.css' %}"> <!-- include css file -->
 {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>

 {% include "C:/Users/fahad/DjangoProjects/pythonProject4/djangoenv/libraryproject/apps/template/bookmodule/templates/includes/header.html" %}
 {% block content %} {% endblock content %}
 {% include "C:/Users/fahad/DjangoProjects/pythonProject4/djangoenv/libraryproject/apps/template/bookmodule/templates/includes/footer.html" %}
</body>
</html>